
SMSSDK/Temp
SMSSDK/Library
*/.DS_Store

*.meta
Android-SMSSDKBridge/.idea/
SMSSDK/Assembly-CSharp-Editor-firstpass.csproj
SMSSDK/Assembly-CSharp-firstpass.csproj
SMSSDK/ProjectSettings/GraphicsSettings.asset
SMSSDK/SMSSDK.userprefs
SMSSDK/ProjectSettings/ProjectSettings.asset
SMSSDK/Assembly-CSharp.csproj
SMSSDK/ProjectSettings/ProjectVersion.txt
SMSSDK/.vs/
